#root {
  margin: 60px auto;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feedback-p{
  font-size: 30px;
  font-weight: 550;
  color: rgb(230, 142, 65);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 10px;
}
